.titulo{
  text-align: center;
  background: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: white;
  margin: 0px;
}

.overlay {
  position: absolute !important;
  height: 200px !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.aqui {
  position: relative !important;
  width: 80% !important;
  height: 80% !important;
}

.aqui:hover .overlay {
  opacity: 50;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.documentos{
  width: 200px !important; 
  height: 200px !important; 
}