.subtitulo{
    padding-top:50px;
}

.imagenes{
    padding-top:50px;
    width: 100%;
}

.titulo{
    text-align: center;
    margin-left: 10% !important;
    margin-right: 10% !important; 
}

.texto{
    text-align: justify;
    margin-left: 10% !important;
    margin-right: 10% !important;
}